@import "tailwindcss";

@font-face {
  font-family: 'PoppinsExtraBold';
  src: url('assets/poppings/Poppins-ExtraBold.ttf')
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('assets/poppings/Poppins-Bold.ttf')
}

@font-face {
  font-family: 'PoppinsLight';
  src: url('assets/poppings/Poppins-Light.ttf')
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ebebeb;
  overflow: hidden;
}


